<button (click)="addCharacters()">➕</button>
<app-pagination
    [total]="count"
    [(currentPage)]="currentPage"
    (futurPage)="futurPage($event)"
    [pageSize]="pageSize"
/>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                {{ 'common.name' | translate }}
            </th>
            <th>
                {{
                    'features.characters.pages.character-listing-page.race'
                        | translate
                }}
            </th>
            <th>
                {{
                    'features.characters.pages.character-listing-page.level'
                        | translate
                }}
            </th>
            <th>
                {{
                    'features.characters.pages.character-listing-page.campagn'
                        | translate
                }}
            </th>
            <th>
                {{
                    'features.characters.pages.character-listing-page.action'
                        | translate
                }}
            </th>
        </tr>
    </thead>
    <tbody>
        @for (character of characters; track character.id) {
            <tr>
                <td>
                    {{ character.name }}
                </td>
                <td>
                    {{ character.raceIndexDto.name }}
                </td>
                <td>
                    {{ character.level }}
                </td>
                <td>
                    @if (character.campagnId > 0) {
                        Dans une campagne
                    } @else {
                        Pas dans une campagne
                    }
                </td>
                <td>
                    <button (click)="onClickDetails(character.id)">🔎</button>
                    <button (click)="onClickDelete(character.id)">🗑️</button>
                    @if (elementIdToConfirm() === character.id) {
                        <app-confirm-modal
                            (confirmed)="onModalAction($event)"
                            [message]="
                                'components.common.listing-table-admin.delete-element'
                                    | translate: { element: character.name }
                            "
                        />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
