<h2>
    {{ 'features.campaign.pages.campaign-details-page.title' | translate }}
    "{{ campaign?.name }}"
</h2>
<p>
    {{ 'common.id' | translate }}
    {{ campaign?.id }}
</p>
<p>
    {{ 'common.name' | translate }} :
    {{ campaign?.name }}
</p>
<p>
    Description :
    {{ campaign?.description }}
</p>
<p>
    Id GM :
    {{ campaign?.idGM }}
</p>
<p>
    finish:
    {{ campaign?.isFinish }}
</p>
@if (isGM) {
    <p>
        {{
            'features.campaign.pages.campaign-details-page.user-in-campaign'
                | translate
        }}
    </p>
    @for (user of userInCampaign; track $index) {
        <p>
            {{ user.email
            }}<button type="button" (click)="removeUser(user.id)">❌</button>
        </p>
    } @empty {
        <p>
            {{
                'features.campaign.pages.campaign-details-page.user-not-in-campaign'
                    | translate
            }}
        </p>
    }
    <form>
        <p>
            {{
                'features.campaign.pages.campaign-details-page.invit-user'
                    | translate
            }}
        </p>
        <app-input-text-autocomplete
            inputId="userId"
            [placeholder]="'Ma petite recherche'"
            [suggestions]="usersSearch"
            [displayKey]="'email'"
            (search)="onSearchRaces($event)"
            (itemSelected)="idSelected($event)"
            formControlName="userId"
        ></app-input-text-autocomplete>
        <button type="button" (click)="addUser()">➕</button>
    </form>
} @else {
    @if (inCampaign) {
        <button (click)="leaveCampaign()">
            {{
                'features.campaign.pages.campaign-details-page.leave-campaign'
                    | translate
            }}
        </button>
    } @else {
        <button (click)="joinCampaign()">
            {{
                'features.campaign.pages.campaign-details-page.join-campaign'
                    | translate
            }}
        </button>
    }
}

<button (click)="onNextCampaign()">
    {{ 'features.campaign.pages.campaign-details-page.next' | translate }}
</button>
<button [routerLink]="['/campaign/edit', campaign?.id]">
    {{ 'common.edit' | translate }}
</button>
<button (click)="deleteCampaign()">
    {{ 'common.delete' | translate }}
</button>
<br /><br />
<a [routerLink]="['/campaign']">
    {{ 'common.return-listing' | translate }}
</a>
