<button (click)="addRace()">➕</button>

<app-pagination
    [total]="count"
    [(currentPage)]="currentPage"
    (futurPage)="futurPage($event)"
    [pageSize]="pageSize"
/>
<table
    class="table table-hover table-bordered table-striped text-center align-middle"
>
    <thead class="table-dark">
        <tr>
            <th>{{ 'common.name' | translate }}</th>
            <th>
                <i class="bi bi-speedometer2 me-1"></i>
                {{ 'common.travelSpeed' | translate }}
            </th>
            <th>
                <i class="bi bi-plus-circle-fill text-success me-1"></i>
                {{ 'features.races.bonusName' | translate }}
                :
                {{ 'features.races.bonusValue' | translate }}
            </th>
            <th>
                <i class="bi bi-dash-circle-fill text-danger me-1"></i>
                {{ 'features.races.malusName' | translate }}
                :
                {{ 'features.races.malusValue' | translate }}
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (race of races; track race.id) {
            <tr>
                <td class="fw-bold">{{ race.name }}</td>
                <td>{{ race.travelSpeed }}</td>
                <td class="text-success">
                    {{ race.bonusRacial.bonusName }} : **+{{
                        race.bonusRacial.bonusValue
                    }}**
                </td>
                <td class="text-danger">
                    {{ race.bonusRacial.malusName }} : **{{
                        race.bonusRacial.malusValue
                    }}**
                </td>
                <td>
                    <button
                        class="btn btn-sm btn-info"
                        (click)="onClickDetails(race.id)"
                    >
                        🔎
                    </button>
                    <button
                        class="btn btn-sm btn-warning"
                        (click)="onClickUpdate(race.id)"
                    >
                        ✒️
                    </button>
                    <button
                        class="btn btn-sm btn-danger"
                        (click)="onClickDelete(race.id)"
                    >
                        🗑️
                    </button>
                    @if (elementIdToConfirm() === race.id) {
                        <app-confirm-modal
                            (confirmed)="onModalAction($event)"
                            [message]="
                                'components.common.listing-table-admin.delete-element'
                                    | translate: { element: race.name }
                            "
                        />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
