<p>character-create-page works!</p>

<form [formGroup]="charactersForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name"
            >{{
                'features.characters.pages.character-create-page.name'
                    | translate
            }}
            :</label
        ><input type="text" id="name" formControlName="name" />
        @if (
            charactersForm.get('name')?.touched &&
            charactersForm.get('name')?.invalid
        ) {
            <p>Champs requis</p>
        }
    </div>
    <div>
        <label for="speed"
            >{{
                'features.characters.pages.character-create-page.speed'
                    | translate
            }}
            :</label
        ><input type="number" min="1" id="speed" formControlName="speed" />
        @if (
            charactersForm.get('speed')?.touched &&
            charactersForm.get('speed')?.invalid
        ) {
            <p>Champs requis</p>
        }
    </div>
    <div>
        <label for="pvMax"
            >{{
                'features.characters.pages.character-create-page.pvMax'
                    | translate
            }}
            :</label
        ><input type="number" min="1" id="pvMax" formControlName="pvMax" />
        @if (
            charactersForm.get('pvMax')?.touched &&
            charactersForm.get('pvMax')?.invalid
        ) {
            <p>Champs requis</p>
        }
    </div>

    <div id="statistique">
        <div>
            <label for="strength"
                >{{
                    'features.characters.pages.character-create-page.strength'
                        | translate
                }}
                :</label
            ><input
                type="number"
                min="1"
                id="strength"
                formControlName="strength"
            />
            @if (
                charactersForm.get('strength')?.touched &&
                charactersForm.get('strength')?.invalid
            ) {
                <p>Champs requis</p>
            }
        </div>
        <div>
            <label for="dexterity"
                >{{
                    'features.characters.pages.character-create-page.dexterity'
                        | translate
                }}
                :</label
            ><input
                type="number"
                min="1"
                id="dexterity"
                formControlName="dexterity"
            />
            @if (
                charactersForm.get('dexterity')?.touched &&
                charactersForm.get('dexterity')?.invalid
            ) {
                <p>Champs requis</p>
            }
        </div>
        <div>
            <label for="constitution"
                >{{
                    'features.characters.pages.character-create-page.constitution'
                        | translate
                }}
                :</label
            ><input
                type="number"
                min="1"
                id="constitution"
                formControlName="constitution"
            />
            @if (
                charactersForm.get('constitution')?.touched &&
                charactersForm.get('constitution')?.invalid
            ) {
                <p>Champs requis</p>
            }
        </div>
        <div>
            <label for="intelligence"
                >{{
                    'features.characters.pages.character-create-page.intelligence'
                        | translate
                }}
                :</label
            ><input
                type="number"
                min="1"
                id="intelligence"
                formControlName="intelligence"
            />
            @if (
                charactersForm.get('intelligence')?.touched &&
                charactersForm.get('intelligence')?.invalid
            ) {
                <p>Champs requis</p>
            }
        </div>
        <div>
            <label for="wisdom"
                >{{
                    'features.characters.pages.character-create-page.wisdom'
                        | translate
                }}
                :</label
            ><input
                type="number"
                min="1"
                id="wisdom"
                formControlName="wisdom"
            />
            @if (
                charactersForm.get('wisdom')?.touched &&
                charactersForm.get('wisdom')?.invalid
            ) {
                <p>Champs requis</p>
            }
        </div>
        <div>
            <label for="charisma"
                >{{
                    'features.characters.pages.character-create-page.charisma'
                        | translate
                }}
                :</label
            ><input
                type="number"
                min="1"
                id="charisma"
                formControlName="charisma"
            />
            @if (
                charactersForm.get('charisma')?.touched &&
                charactersForm.get('charisma')?.invalid
            ) {
                <p>Champs requis</p>
            }
        </div>
    </div>

    <div id="robustesse">
        <div>
            <label for="defence"
                >{{
                    'features.characters.pages.character-create-page.defence'
                        | translate
                }}
                :</label
            ><input
                type="number"
                min="1"
                id="defence"
                formControlName="defence"
            />
            @if (
                charactersForm.get('defence')?.touched &&
                charactersForm.get('defence')?.invalid
            ) {
                <p>Champs requis</p>
            }
        </div>
        <div>
            <label for="fortitudeSave"
                >{{
                    'features.characters.pages.character-create-page.fortitudeSave'
                        | translate
                }}
                :</label
            ><input
                type="number"
                min="1"
                id="fortitudeSave"
                formControlName="fortitudeSave"
            />
            @if (
                charactersForm.get('fortitudeSave')?.touched &&
                charactersForm.get('fortitudeSave')?.invalid
            ) {
                <p>Champs requis</p>
            }
        </div>
        <div>
            <label for="reflexeSave"
                >{{
                    'features.characters.pages.character-create-page.reflexeSave'
                        | translate
                }}
                :</label
            ><input
                type="number"
                min="1"
                id="reflexeSave"
                formControlName="reflexeSave"
            />
            @if (
                charactersForm.get('reflexeSave')?.touched &&
                charactersForm.get('reflexeSave')?.invalid
            ) {
                <p>Champs requis</p>
            }
        </div>
        <div>
            <label for="willpowerSave"
                >{{
                    'features.characters.pages.character-create-page.willpowerSave'
                        | translate
                }}
                :</label
            ><input
                type="number"
                min="1"
                id="willpowerSave"
                formControlName="willpowerSave"
            />
            @if (
                charactersForm.get('willpowerSave')?.touched &&
                charactersForm.get('willpowerSave')?.invalid
            ) {
                <p>Champs requis</p>
            }
        </div>
    </div>

    <div>
        <label for="initiative"
            >{{
                'features.characters.pages.character-create-page.initiative'
                    | translate
            }}
            :</label
        ><input
            type="number"
            min="1"
            id="initiative"
            formControlName="initiative"
        />
        @if (
            charactersForm.get('initiative')?.touched &&
            charactersForm.get('initiative')?.invalid
        ) {
            <p>Champs requis</p>
        }
    </div>

    <div>
        <label for="baseAttackBonus"
            >{{
                'features.characters.pages.character-create-page.baseAttackBonus'
                    | translate
            }}
            :</label
        ><input
            type="number"
            min="1"
            id="baseAttackBonus"
            formControlName="baseAttackBonus"
        />
        @if (
            charactersForm.get('baseAttackBonus')?.touched &&
            charactersForm.get('baseAttackBonus')?.invalid
        ) {
            <p>Champs requis</p>
        }
    </div>

    <div>
        <label for="level"
            >{{
                'features.characters.pages.character-create-page.level'
                    | translate
            }}
            :</label
        ><input type="number" min="1" id="level" formControlName="level" />
        @if (
            charactersForm.get('level')?.touched &&
            charactersForm.get('level')?.invalid
        ) {
            <p>Champs requis</p>
        }
    </div>

    <div>
        <label for="xp"
            >{{
                'features.characters.pages.character-create-page.xp' | translate
            }}
            :</label
        ><input type="number" min="1" id="xp" formControlName="xp" />
        @if (
            charactersForm.get('xp')?.touched &&
            charactersForm.get('xp')?.invalid
        ) {
            <p>Champs requis</p>
        }
    </div>

    <div>
        <label for="raceId"
            >{{
                'features.characters.pages.character-create-page.races'
                    | translate
            }}
            :
        </label>
        <app-input-datalist
            inputId="races"
            [items]="races"
            [displayKey]="'name'"
            [idKey]="'id'"
            (search)="onSearchRaces($event)"
            (id)="idSelected($event)"
        ></app-input-datalist>
    </div>

    <button [disabled]="charactersForm.invalid" type="submit">Envoyer</button>
</form>
