<form [formGroup]="campaignForm" (ngSubmit)="onSubmit()">
    <h2>
        {{ 'features.campaign.pages.campaign-form-page.title' | translate }}
    </h2>

    <label for="name">
        {{ 'common.name' | translate }}
    </label>

    <input
        id="name"
        type="text"
        formControlName="name"
    />

    @if (name.touched && name.invalid) {
        <p class="error">
            @if (name.getError('required')) {
                {{
                    'features.campaign.pages.campaign-form-page.name-input-error-required'
                        | translate
                }}
            } @else if (name.getError('minlength') || name.getError('maxlength')) {
                {{
                    'features.campaign.pages.campaign-form-page.name-input-error-shortOrLong'
                        | translate : nameLengthMessage
                }}
            }
        </p>
    }

    @if (campaignError) {
        <p class="error">{{ campaignError }}</p>
    }

    <button type="submit" [disabled]="campaignForm.invalid || loading">
        {{ 'common.create' | translate }}
    </button>
</form>

@if (loading) {
    <div class="spinner-container">
        <div class="spinner"></div>
    </div>
}
