<nav class="navbar navbar-expand-lg bg-light" style="background-color: #e3f2fd">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">{{
                        'components.layout.nav-bar.home' | translate
                    }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/races">{{
                        'components.layout.nav-bar.races' | translate
                    }}</a>
                </li>

                @if (isConnected()) {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/campaign">{{
                            'components.layout.nav-bar.campaign' | translate
                        }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/characters">{{
                            'components.layout.nav-bar.characters' | translate
                        }}</a>
                    </li>
                }
            </ul>

            <ul class="navbar-nav ms-auto">
                @if (!isConnected()) {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/auth/login">{{
                            'components.layout.nav-bar.login' | translate
                        }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/auth/register">{{
                            'components.layout.nav-bar.register' | translate
                        }}</a>
                    </li>
                }
                @if (isConnected()) {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/users/self">{{
                            'components.layout.nav-bar.self' | translate
                        }}</a>
                    </li>
                    <li class="nav-item">
                        <button
                            class="nav-link btn btn-link"
                            (click)="onClickLogout()"
                        >
                            {{ 'components.layout.nav-bar.logout' | translate }}
                        </button>
                    </li>
                }
                @if (role()?.includes(UserRole.Admin)) {
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="adminDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Admin
                        </a>
                        <ul
                            class="dropdown-menu"
                            aria-labelledby="adminDropdown"
                        >
                            <li>
                                <a
                                    class="dropdown-item"
                                    routerLink="/admin/user"
                                    >{{
                                        'components.layout.nav-bar.users'
                                            | translate
                                    }}</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    routerLink="/admin/races"
                                    >{{
                                        'components.layout.nav-bar.races'
                                            | translate
                                    }}</a
                                >
                            </li>
                        </ul>
                    </li>
                }

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="langDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                    >
                        {{ currentLanguage | uppercase }}
                    </a>
                    <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="langDropdown"
                    >
                        <li>
                            <button
                                class="dropdown-item"
                                (click)="onChangeLanguage('fr')"
                            >
                                FR
                            </button>
                        </li>
                        <li>
                            <button
                                class="dropdown-item"
                                (click)="onChangeLanguage('en')"
                            >
                                EN
                            </button>
                        </li>
                        <li>
                            <button
                                class="dropdown-item"
                                (click)="onChangeLanguage('zh')"
                            >
                                ZH
                            </button>
                        </li>
                        <li>
                            <button
                                class="dropdown-item"
                                (click)="onChangeLanguage('ja')"
                            >
                                JA
                            </button>
                        </li>
                        <li>
                            <button
                                class="dropdown-item"
                                (click)="onChangeLanguage('ko')"
                            >
                                KO
                            </button>
                        </li>
                        <li>
                            <button
                                class="dropdown-item"
                                (click)="onChangeLanguage('ru')"
                            >
                                RU
                            </button>
                        </li>
                        <li>
                            <button
                                class="dropdown-item"
                                (click)="onChangeLanguage('ar')"
                            >
                                AR
                            </button>
                        </li>
                        <li>
                            <button
                                class="dropdown-item"
                                (click)="onChangeLanguage('hi')"
                            >
                                HI
                            </button>
                        </li>
                        <li>
                            <button
                                class="dropdown-item"
                                (click)="onChangeLanguage('tr')"
                            >
                                TR
                            </button>
                        </li>
                        <li>
                            <button
                                class="dropdown-item"
                                (click)="onChangeLanguage('el')"
                            >
                                EL
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<small class="d-block text-center mt-2">{{
    'components.layout.nav-bar.role-user' | translate: { role: role() }
}}</small>
