<nav>
  <ul>
    <li><a routerLink="/">{{ 'components.layout.nav-bar.home' | translate }}</a></li>
    @if (!isConnected()) {
      <li><a routerLink="/auth/login">{{ 'components.layout.nav-bar.login' | translate }}</a></li>
      <li><a routerLink="/auth/register">{{ 'components.layout.nav-bar.register' | translate }}</a></li>
    } @else {
      <li><button (click)="onClickLogout()">{{ 'components.layout.nav-bar.logout' | translate }}</button></li>
      @if (role() === UserRole.Admin) {
        <li>
          Admin
          <ul>
            <li><a routerLink="/admin/user">{{ 'components.layout.nav-bar.users' | translate }}</a></li>
          </ul>
        </li>
      }
    }
  </ul>
</nav>

{{ 'components.layout.nav-bar.role-user' | translate: { role: role() } }}

<button (click)="onChangeLanguage('fr')">FR</button
><button (click)="onChangeLanguage('en')">EN</button>
