<form [formGroup]="raceForm" (ngSubmit)="onSubmit()" class="container my-4">
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">
                {{
                    'features.races.pages.race-create-page.race-info'
                        | translate
                }}
            </h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-field-group">
                        <label for="name" class="form-label fw-bold w-50"
                            >{{ 'common.name' | translate }} :</label
                        >
                        <input
                            type="text"
                            id="name"
                            formControlName="name"
                            class="form-control"
                        />
                    </div>
                    @if (
                        raceForm.get('name')?.touched &&
                        raceForm.get('name')?.invalid
                    ) {
                        <small class="text-danger d-block mt-1"
                            >Champs requis</small
                        >
                    }
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-field-group">
                        <label
                            for="travelSpeed"
                            class="form-label fw-bold w-50"
                        >
                            {{
                                'features.races.pages.race-create-page.travelSpeed'
                                    | translate
                            }}
                            :
                        </label>
                        <input
                            type="number"
                            min="1"
                            id="travelSpeed"
                            formControlName="travelSpeed"
                            class="form-control"
                        />
                    </div>
                    @if (
                        raceForm.get('travelSpeed')?.touched &&
                        raceForm.get('travelSpeed')?.invalid
                    ) {
                        <small class="text-danger d-block mt-1"
                            >Champs requis</small
                        >
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-success text-white">
            <h5 class="mb-0">
                {{
                    'features.races.pages.race-create-page.race-bonus'
                        | translate
                }}
            </h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-field-group">
                        <label for="bonusName" class="form-label fw-bold w-50">
                            {{
                                'features.races.pages.race-create-page.bonusName'
                                    | translate
                            }}
                            :
                        </label>
                        <select
                            id="bonusName"
                            formControlName="bonusName"
                            class="form-select"
                        >
                            <option [ngValue]="null">
                                -- Sélectionner une statistique --
                            </option>
                            @for (name of Stat; track $index) {
                                <option [value]="name">{{ name }}</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-field-group">
                        <label for="bonusValue" class="form-label fw-bold w-50">
                            {{
                                'features.races.pages.race-create-page.bonusValue'
                                    | translate
                            }}
                            :
                        </label>
                        <input
                            type="number"
                            min="0"
                            id="bonusValue"
                            formControlName="bonusValue"
                            class="form-control"
                        />
                    </div>
                    @if (
                        raceForm.get('bonusValue')?.touched &&
                        raceForm.get('bonusValue')?.invalid
                    ) {
                        <small class="text-danger d-block mt-1"
                            >Champs requis</small
                        >
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-danger text-white">
            <h5 class="mb-0">
                {{
                    'features.races.pages.race-create-page.race-malus'
                        | translate
                }}
            </h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-field-group">
                        <label for="malusName" class="form-label fw-bold w-50">
                            {{
                                'features.races.pages.race-create-page.malusName'
                                    | translate
                            }}
                            :
                        </label>
                        <select
                            id="malusName"
                            formControlName="malusName"
                            class="form-select"
                        >
                            <option [ngValue]="null">
                                -- Sélectionner une statistique --
                            </option>
                            @for (name of Stat; track $index) {
                                <option [value]="name">{{ name }}</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-field-group">
                        <label for="malusValue" class="form-label fw-bold w-50">
                            {{
                                'features.races.pages.race-create-page.malusValue'
                                    | translate
                            }}
                            :
                        </label>
                        <input
                            type="number"
                            max="0"
                            id="malusValue"
                            formControlName="malusValue"
                            class="form-control"
                        />
                    </div>
                    @if (
                        raceForm.get('malusValue')?.touched &&
                        raceForm.get('malusValue')?.invalid
                    ) {
                        <small class="text-danger d-block mt-1"
                            >Champs requis</small
                        >
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2">
        <button
            [disabled]="raceForm.invalid"
            type="submit"
            class="btn btn-primary btn-lg"
        >
            {{
                'features.races.pages.race-create-page.race-create' | translate
            }}
        </button>
    </div>
</form>
