<button [disabled]="currentPage() <= 1" (click)="onFirstPage()">
    {{ 'components.layout.pagination.first-page' | translate }}
</button>
<button [disabled]="currentPage() <= 1" (click)="onClickPrevious()">
    {{ 'components.layout.pagination.previous-page' | translate }}
    {{ currentPage() - 1 }}
</button>
{{ currentPage() }}
<button [disabled]="currentPage() >= maxPages()" (click)="onClickNext()">
    {{ 'components.layout.pagination.next-page' | translate }}
    {{ currentPage() + 1 }}
</button>
<button [disabled]="currentPage() >= maxPages()" (click)="onLastPage()">
    {{ 'components.layout.pagination.last-page' | translate }}
</button>
